body{

}
#anonimg{
    max-width: 200px;
}
#btng{
    margin: 5px;
    color: rgb(241, 241, 241);
    background-color: #ea3f30;

}
#btng:hover{
    background-color: #e45750;
}

#btnf{
    margin: 5px;
    color: rgb(241, 241, 241);
    background-color: #23527c;
}
#btnf:hover{
    background-color: #365a7c;
}
#spn{
    padding: 10px;
}
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);


svg {
    width: 600px;
    height: 120px;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background: black;
}
#btnlts{
     padding: 10px;
     width: 200px;
    margin: 20px;
    font-size: large;
 }

#DashImg{
    width:600px;
}
#DashBtn{
    background-color: #2C3E50;
    padding:5px 20px 5px 20px;

    color: #fff;
}
#DashFrm{
    color: rgba(0, 0, 0, 0.68);
}
#DashTxt{
    padding:5px;
}
#dashboard{
    padding: -40px 0 -100px 0;
    margin: -50px 0 -80px 0;

}
#DashContainer{
    padding-top: 200px;
    padding-bottom: 20px;
}